<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Admin Dashboard</title>
  <link rel="shortcut icon" type="image/png" href="/public/admin/images/kaaflogo.png" />
  <link rel="stylesheet" href="/public/admin/css/adminstyles.min.css" />
</head>

<body>

   <!-- Header and sidebar  -->
 <%- include('navigation') -%> 
 <!-- Header and sidebar end  -->



      <div class="container-fluid">
        <div class="card">
          <div class="card-body">
            <h1 class="fw-semibold mb-4">Photography/Videography</h1>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title fw-semibold mb-4">Add new photography/videograpy team</h5>
              <form action="/admin/edit-photo/<%= photo[0].photo_id %>" method="POST" >  
                  <div class="row mb-3">
                    <div class="col-lg-8 col-md-8 col-sm-8">
                      <label for="exampleInputEmail1" class="form-label">Photography Name</label>
                      <input type="text" class="form-control" value="<%= photo[0].photo_name %>" id="exampleInputEmail1" aria-describedby="emailHelp" name="name" value="">
                    </div>
                    <div class="col-lg-6 col-md-4 col-sm-4">
                      <label for="exampleInputEmail1" class="form-label">Location</label>
                      <textarea class="form-control" id="productDescription" name="location" rows="2" cols="50"><%= photo[0].photo_location %></textarea>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-lg-6 col-md-4 col-sm-4">
                      <label for="exampleInputEmail1" class="form-label">Photography amount per day</label>
                      <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="amount" value="<%= photo[0].photo_amount %>">
                    </div>
                    <div class="col-lg-6 col-md-4 col-sm-4">
                        <label for="exampleInputEmail1" class="form-label">Videography amount per day</label>
                        <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="amount_v" value="<%= photo[0].video_amount %>">
                      </div>
                    
                  </div>
                  <div class="row mb-3">
                    <div class="col-lg-7 col-md-7 col-sm-7">
                      <label for="exampleInputEmail1" class="form-label">Description</label>
                      <textarea class="form-control" id="productDescription" name="desc" rows="2" cols="50"><%= photo[0].photo_desc %></textarea>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary" name="submitp">Submit</button>
                  <a href="/admin/photo" class="btn btn-danger">Reset</a>
                </form>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include('scripts') -%>

</body>
</html>