<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Catering Dashboard</title>
  <link rel="shortcut icon" type="image/png" href="/public/catering/images/kaaflogo.png" />
  <link rel="stylesheet" href="/public/admin/css/adminstyles.min.css" />
</head>

<body>
 <!-- Header and sidebar  -->
 <%- include('navigation') -%> 
 <!-- Header and sidebar end  -->



      <div class="container-fluid">
        <div class="card">
          <div class="card-body">
            <h1 class="fw-semibold mb-4">Cuisines</h1>
            <div class="card">
              <div class="card-body">
              <form method="POST" action="/catering/add-cuisine" enctype="multipart/form-data" >  
                  <div class="row mb-3">
                    <div class="col-lg-8 col-md-8 col-sm-8">
                      <label for="cateringSelect" class="form-label">Select Catering</label>
                      <select class="form-control" id="cateringSelect" name="catering_id" required>
                          <% for (let i = 0; i < caterings.length; i++) { %>
                              <option value="<%= caterings[i].catering_id %>"><%= caterings[i].catering_name %></option>
                          <% } %>
                      </select>
                  </div>
                    <div class="col-lg-8 col-md-8 col-sm-8">
                      <label for="exampleInputEmail1" class="form-label">Cuisine Name</label>
                      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="name" value="" required>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                      <label for="exampleInputEmail1" class="form-label">Category</label>
                      <select id="disabledSelect" class="form-select" name="cat" required>
                        <option>Category select</option>
                         <option value="Indian-Veg">Indian-Veg</option>
                         <option value="Indian-Non-Veg">Indian-Non-Veg</option>
                         <option value="Arabic">Arabic</option>
                         <option value="Italian">Italian</option>
                         <option value="Chinese">Chinese</option>
                      </select>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-lg-6 col-md-4 col-sm-4">
                      <label for="exampleInputEmail1" class="form-label">Price</label>
                      <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="price" value="" required>
                    </div>
                   
                  </div>
                  <div class="row mb-3">
                    <div class="col-lg-5 col-md-5 col-sm-5">
                      <label for="exampleInputEmail1" class="form-label">Image</label>
                      <input id="InputFile" type="file" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="file" onchange="previewImage()" required>
                      <img  id="ImagePreview" src="" alt="" width="100">
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-7">
                      <label for="exampleInputEmail1" class="form-label">Description</label>
                      <textarea class="form-control" id="productDescription" name="desc" rows="2" cols="50" required></textarea>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary" >Submit</button>
                  <a href="/catering/cuisine" class="btn btn-danger">Reset</a>
                </form>
              </div>
            </div>

<!-- table begin -->
<div class="card w-100">
  <div class="card-body p-4">
    <h5 class="card-title fw-semibold mb-4">cuisine List</h5>
    <div class="table-responsive">
      <table class="table text-nowrap mb-0 align-middle">
        <thead class="text-dark fs-4">
          <tr>
            <th class="border-bottom-0">
              <h6 class="fw-semibold mb-0">Id</h6>
            </th>
            <th class="border-bottom-0">
              <h6 class="fw-semibold mb-0">name</h6>
            </th>
            <th class="border-bottom-0">
              <h6 class="fw-semibold mb-0">Category</h6>
            </th>
            <th class="border-bottom-0">
              <h6 class="fw-semibold mb-0">Price</h6>
            </th>
            <th class="border-bottom-0">
              <h6 class="fw-semibold mb-0">Description</h6>
            </th>
            <th class="border-bottom-0">
              <h6 class="fw-semibold mb-0">Image</h6>
            </th>
            <th class="border-bottom-0">
              <h6 class="fw-semibold mb-0">Edit</h6>
            </th>
            <th class="border-bottom-0">
              <h6 class="fw-semibold mb-0">Delete</h6>
            </th>
          </tr>
        </thead>

        <tbody>
          <% if ( cuisine && cuisine.length > 0) { %>
            <% cuisine.forEach((Item, index) => { %>  
          <tr>
            <td class="border-bottom-0"><h6 class="fw-semibold mb-0"><%= index + 1 %></h6></td>
            <td class="border-bottom-0">
              <p class="mb-0 fw-normal"><%= Item.cuisine_name %></p>                         
            </td>
            <td class="border-bottom-0">
              <p class="mb-0 fw-normal"><%= Item.cuisine_category %></p>
            </td>
            <td class="border-bottom-0">
              <p class="mb-0 fw-normal"><%= Item.cuisine_price %></p>
            </td>
            <td class="border-bottom-0">
              <p class="mb-0 fw-normal"><%= Item.cuisine_desc %></p>
            </td>
            <td class="border-bottom-0">
              <h6 class="fw-semibold mb-0 fs-4"><img src="../../public/catering/cuisine/images/<%= Item.cuisine_id %>.png" alt="product image" width="50"></h6>
            </td>
            <td class="border-bottom-0">
            <a href="/catering/edit-cuisine?id=<%= encodeURIComponent(Item.cuisine_id) %>"><span><i class="ti ti-edit btn btn-outline-success"></i></span></a>
            </td>
            <td class="border-bottom-0">
            <a href="/catering/delete-cuisine?id=<%= encodeURIComponent(Item.cuisine_id) %>"><span><i class="ti ti-trash btn btn-outline-danger"></i></span></a>
            </td>
          </tr>  
          <% }); %>
          <% } else { %>
            <tr>
              <td colspan="9" class="text-center">No data available</td>
            </tr>
          <% } %>                      
        </tbody>  

      </table>
    </div>
  </div>
</div>
<!-- table end -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    function previewImage() {
        var input = document.getElementById('InputFile');
        var imgPreview = document.getElementById('ImagePreview');

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                imgPreview.src = e.target.result;
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
  <%- include('scripts') -%>
</body>
</html>